#modal-eula {
    max-width: 90vw;
    max-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#modal-eula .data {
    overflow-y: auto;
    max-height: 70vh;
}

#modal-eula .buttons {
    display: flex;
    gap: 8px;
    height: max-content;
}

#modal-eula .buttons button {
    min-width: 20vw;
}