<div class="modal" id="modal-servers" style="display: none;">
    <div class="wrapper">
        <h1>{{servers.title}}</h1>
        <p>This section has been removed from the launcher. Server listing and joining are no longer available.</p>
    </div>
</div>